$primary: #ced4da;

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    min-width: 30rem;
    background-color: #0B0B0F;
    text-align: left;
}

main {
    padding: 1rem;

    h1 {
        font-weight: 300;
        font-size: 30px;
        margin-right: 1rem;
    }

    p {
        font-style: italic;
        font-size: 12px;
        margin: 0;
        font-weight: 100;
    }
}

footer {
    .legal {
        border-top: .0313rem solid hsla(330, 9%, 96%, .102);
        padding: 1rem;

        font-size: 10px;
        margin: 0;
        padding: 1rem;
        text-align: left;
        opacity: .5;
        font-weight: 300;

        a {
            font-weight: 300;
            color: $primary;
            text-decoration: none;
            border-right: .0313rem solid #ced4da;
            margin-right: 5px;
            padding-right: 6px;

            &:last-child {
                border: none;
                margin: 0;
                padding: 0;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin: 0;
            color: $primary;
        }
    }
}

.loading {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    text-align: center;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-weight: 100;
        margin: 0rem 2rem 0rem 2rem;
    }

    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        margin: 10px;
    }
}